package ${packageName};

import org.bricks.engine.event.overlap.OverlapStrategy;
import org.bricks.engine.event.overlap.OverlapAlgorithm;
import org.bricks.engine.staff.Habitant;

public class ${strategyClassName} extends OverlapStrategy<${targetClassName}, ? extends Habitant, ?, ?, ?>{

	public ${strategyClassName}(OverlapAlgorithm algorithm, OverlapStrategy.HabitantDataExtractor extractor, OverlapStrategy.EventProducer producer){
		super(algorithm, extractor, producer);
	}
	
	public boolean hasToCheckOverlap(${targetClassName} target, Habitant source){
		return target.$!{methodName.replace('"',"")}(source);
	}
}